In [15]:
 # For Loop:
 #    when we know the actual number of iterate .It is used to iterate through a sequence like list,tuple,string etc.

In [13]:
fruits=["Mangoes","Banana","Watermalon"]
for i in fruits:
    print(i)

Mangoes
Banana
Watermalon

In [16]:
# While Loop: 
#   When we don't know the actual number of iterate

In [21]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [22]:
#Q2: Sum and product of the first 10 natural number

In [47]:
n=10
sum=0
pro=1
i=1
while i<=n:
    sum=sum+i
    pro=pro*i
    i=i+1
print("The sum of first 10 natual no =",sum)
print("The product of first 10 natural number =",pro)

The sum of first 10 natual no = 55
The product of first 10 natural number = 3628800

In [48]:
#Q3: Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [63]:
unit=int(input("Enter the unit:"))
      
if (unit<=100):
    unit=unit*4.5
elif (unit<=200):
    unit=unit*6
elif (unit<=300):
    unit=unit*10
else:
    unit=unit*20
print("Your ammount is:",unit)

Enter the unit: 310

Your ammount is: 6200

In [65]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

In [66]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [68]:
for i in 'I want to become a data scientist':
    if i.lower() in ['a','e','i','o','u']:
        print(i)

I
a
o
e
o
e
a
a
a
i
e
i